<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>add product form</h1>

  <form action="/products/add" method="POST">
    <label for="prodName">Product Name:</label><br>
    <input type="text" id="prodName" name="prodName"><br>

    <label for="quantity">Quantity:</label><br>
    <input type="number" id="quantity" name="quantity"><br><br>

    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price"><br><br>

    <!-- <label for="category">Choose a category:</label><br>
<select id="category" name="category">
  <% for(let i = 0; i < categories.length; i++) {} %>
  <option value="<%= categories[i].name %>"><%= categories[i].name %></option>
  <% } %>
</select> -->
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>